@charset "utf-8";

*{
  font-weight: normal;
}

body {
  background: #4D5154;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  color:#CDCDCD;
}

.inner {
  width: 620px;
  margin: 140px auto 0;
  text-align: center;
}

.inner h4{
  padding-top:10px;
  line-height: 1.5em;
  font-size: 12px;
  max-width: 350px;
  margin: 0 auto;
  text-align: left;
}

.inner h1{
  font-size: 16px;
}

.inner img{
  padding-bottom: 30px;
  width:350px;
  margin:0 auto;
}