/*div{background: rgba(255,0,0,0.1);}*/
/* line 5, style.css.scss */
html, body {
  height: 100%; }

/* line 7, style.css.scss */
body {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  background: #E8E6E0;
  padding: 0; }

/* line 14, style.css.scss */
ul li {
  list-style: none; }
  /* line 16, style.css.scss */
  ul li h5 {
    margin-top: 20px; }

/* line 19, style.css.scss */
p {
  line-height: 24px;
  color: #362727; }

/* line 21, style.css.scss */
a {
  color: white; }

/* line 23, style.css.scss */
section .header_logo_container {
  width: 100%;
  top: 0;
  left: 0; }
  /* line 29, style.css.scss */
  section .header_logo_container.hide h1 {
    background: none; }
  /* line 33, style.css.scss */
  section .header_logo_container h1 {
    background: url("../images/logo.png") no-repeat center 30px;
    text-indent: 200%;
    white-space: nowrap;
    padding: 140px 0 10px;
    margin: 0; }

/* line 43, style.css.scss */
#container {
  margin: 0 auto 20px; }
  /* line 45, style.css.scss */
  #container .item {
    width: 285px;
    height: 285px; }
    /* line 49, style.css.scss */
    #container .item.hero {
      height: 480px;
      width: 1170px; }
    /* line 50, style.css.scss */
    #container .item.w1 {
      width: 580px; }
    /* line 51, style.css.scss */
    #container .item.h2 {
      height: 580px;
      width: 580px; }

/* line 55, style.css.scss */
form input, textarea {
  width: 400px; }

/* line 59, style.css.scss */
form textarea {
  height: 200px; }

/* line 63, style.css.scss */
#nav {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 60px; }
  /* line 72, style.css.scss */
  #nav .span1.selected a {
    border-bottom: 6px solid white; }
  /* line 79, style.css.scss */
  #nav a {
    width: auto;
    padding: 20px 0px;
    vertical-align: middle;
    display: block;
    font-size: 12px; }
    /* line 86, style.css.scss */
    #nav a:hover {
      text-decoration: none;
      color: #E8E6E0; }
  /* line 92, style.css.scss */
  #nav .logo {
    display: none; }
  /* line 94, style.css.scss */
  #nav.sticky {
    -webkit-transition: background 1s linear;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5); }
    /* line 100, style.css.scss */
    #nav.sticky a.logo {
      display: block;
      background: url("../images/logo_small.png") no-repeat center center;
      width: auto;
      height: 40px;
      padding: 10px 0; }

/* line 110, style.css.scss */
.slideshow {
  margin-bottom: 10px;
  max-width: 1170px;
  height: 580px;
  overflow: hidden; }
  /* line 116, style.css.scss */
  .slideshow img {
    height: auto !important; }

/* line 121, style.css.scss */
section {
  position: relative;
  min-height: 100%;
  padding: 0 20px; }
  /* line 129, style.css.scss */
  color:white
  section h3.dark_text, color:white
  section p.dark_text {
    color: brown;
    line-height: 18px; }
  /* line 135, style.css.scss */
  section.section-1 {
    overflow: hidden;
    background: url("../images/flowers2.jpg") no-repeat fixed top center;
    background-size: cover; }
  /* line 142, style.css.scss */
  section.section-2 {
    overflow: hidden;
    background: #e7e4dd; }
    /* line 146, style.css.scss */
    section.section-2 .card {
      background: white;
      padding: 10px 15px;
      box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.3);
      border-radius: 5px; }
  /* line 154, style.css.scss */
  section.section-3 {
    overflow: hidden;
    background: white;
    background-size: cover; }
  /* line 160, style.css.scss */
  section.section-4 {
    overflow: hidden;
    background: #d9d6cf; }
  /* line 165, style.css.scss */
  section.section-5 {
    overflow: hidden;
    background: url("../images/wallpaper.jpg") no-repeat fixed center center;
    background-size: cover; }

/* line 172, style.css.scss */
.box {
  width: 20px;
  height: 20px;
  border: 1px solid;
  content: "";
  -webkit-transform: rotate(45deg); }

/* line 183, style.css.scss */
.container-fluid.header {
  padding: 20px 0;
  background-size: 100%; }
  /* line 187, style.css.scss */
  .container-fluid.header h2, .container-fluid.header h3 {
    font-weight: 100;
    color: white;
    text-align: center; }
/* line 196, style.css.scss */
.container-fluid .container.top {
  margin-top: 70px; }
/* line 199, style.css.scss */
.container-fluid .container .header-text {
  margin: 0; }
/* line 204, style.css.scss */
.container-fluid .container .row-fluid .decoBorder {
  border-top: 1px solid #362727;
  border-bottom: 1px solid #362727;
  padding: 5px 0; }
